body {
  font-size: 1.5rem;
  box-sizing: border-box;
}

.app {
  background: lightseagreen;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo-list {
  background: lightgray;
  border-radius: 4px;
  width: 400px;
  padding: 10px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 6px;
  padding: 1px 10px;
}

.todo-btn {
  padding: 7px 10px;
}

.btns button {
  margin: 4px 2px;
}

.btns {
  margin-left: auto;
}

.delete-all-btn {
  background-color: red;
  border: none;
  color: white;
  border-radius: 2px;
  height: 25px;
}

.add-input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.input {
  width: 80%;
  height: 25px;
  margin: 15px 5px;
  padding: 2px 3px;
  border-radius: 3px;
  border: 2px solid lightseagreen;
}

.edit-input input {
  width: 200px;
}
